{% load widget_tweaks %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="{% url 'homepage' %}">GanMoodle</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="{% url 'profile' %}">{{user.username|title}}</a>
      </li>
    {% else %}
    <li><a href="{% url 'register' %}">Sign up </a></li>
    <li ><a  href="{% url 'login' %}">Sign in</a></li>
    {% endif %}




  </ul>


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

</nav>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="{% url 'profile' %}">{{user.username|title}}</a>
      </li>
    {% else %}
    <li><a href="{% url 'register' %}">Sign up </a></li>
    <li ><a  href="{% url 'login' %}">Sign in</a></li>
    {% endif %}

  </ul>


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

</nav>
<div class="flex_c">

            <section>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 mx-auto">
                      <div class="card">
                        <div class="card-header text-black">

                        </div>
                        <div class="card-body">
                            <form class="form" action="{% url 'contact' %}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                                 {% for field in form.visible_fields %}
                                   <div class="form-group">
                                       {{ field.label_tag }}
                                          {% render_field field class="form-control" %}
                                            {% for error in field.errors %}
                                              <!-- <span style="color:red">{{ error }}</span> -->
                                            {% endfor %}
                                 {% endfor %}
                                     <input type="submit" value="add contact" class="btn btn-block btn-primary">
                                   </div>
                            </form>

                         </div>
                            </div>

                        </div>
                      </div>
                    </div>

              </section>

              <table>
                <tr>
                  <th>Parent Name</th>
                  <th>Child Name</th>
                  <th>Phone number</th>
                  <th>Email</th>
                </tr>
                {% for contact in data %}
                <tr>
                  <td>{{ contact.parent_name }}</td>
                  <td>{{ contact.child_name }}</td>
                  <td>{{ contact.phone_number }}</td>
                  <td>{{ contact.email }}</td>
                  <td><input type="submit" name="delete_button" value="Delete"></td>
                </tr>
                {% endfor %}
              </table>

      </div>

              <style media="screen">
                .form{
                  width: 50%;
                  margin: 0 auto;
                }
                table,th,tr,td{
                  /* border: 1px solid black; */
                  text-align: center;

                }

                th,td{
                  height: 70px;
                  padding: 15px;
                  text-align: left;
                  border-bottom: 1px solid #ddd;
                }
                table{
                  position:absolute;
                  bottom: 250px;
                  left:500;
                }
                .flex_c {
                  display:flex;

                }
