
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="cssHelper">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="{% url 'homepage' %}">GanMoodle</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="{% url 'profile' %}">{{user.username|title}}</a>
      </li>
    {% else %}
    <li><a href="{% url 'register' %}">Sign up </a></li>
    <li ><a  href="{% url 'login' %}">Sign in</a></li>
    {% endif %}




  </ul>


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

</nav>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="{% url 'profile' %}">{{user.username|title}}</a>
      </li>
    {% else %}
    <li><a href="{% url 'register' %}">Sign up </a></li>
    <li ><a  href="{% url 'login' %}">Sign in</a></li>
    {% endif %}

  </ul>


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

</nav>



    <div class="grid-25 center" >
      {% if request.user.profile_pic %}
      <img class="center" src="{{ request.user.profile_pic.url }}" width="256" class="center">
      {%endif%}
    </div>
    <div class="grid-65">
        <h1 style="text-align: center;">Your Profile</h1>
        <h2 style="text-align: center;">First Name</h2>
        <p style="text-align: center;">{{ user.first_name|lower|capfirst }}</p>
        <h2 style="text-align: center;">Last Name</h2>
        <p style="text-align: center;">{{ user.last_name|lower|capfirst }}</p>
        <h2 style="text-align: center;">Email</h2>
        <p style="text-align: center;">{{ user.email }}</p>
        <p><a href="{% url 'edit_profile' %}">edit your profile</a> </p>
        <p><a href="{% url 'change_password' %}">Change Password</a> </p>
          {% if user.is_manager %}

          <p>Add parent <a href="{% url 'parent_register' %}">edit button</a> below.</p>


            {% endif %}

            <p>contact information <a href="{% url 'contact' %}">contact</a></p>









    </div>
