{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <title>events GanMoodle</title>
</head>
<body>

  <nav class="navbar navbar-inverse  ">
    <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'homepage' %}">GanMoodle</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav ">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'profile' %}">{{user.username|title}}</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'events_list' %}">Events</a>
        </li>
        {% if user.is_manager %}
        
         <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'event_new' %}">new</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'event_draft_list' %}">Drafts</a>
        </li> 
        
        
        {% endif %}
      {% else %}
      <li><a href="{% url 'register' %}">Sign up </a></li>
      <li ><a  href="{% url 'login' %}">Sign in</a></li>
      {% endif %}

    </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
  
  <br><br>
  <h3>{{ cal|safe}}</h3>
  </div>
  <div class="container">
    <div class="centerstage">
      {% for event in event_list %}
      
         {% if event.auther.user.gangroups.all.0 == userGroups.0  %}
        
       
      <div class="event" style="border-bottom: 2px solid black;">
        <div class="card" style="width: 100rem; font-size: 130%;">
          <div class="card-header" style="text-align: center;">
            <h1><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}} </a></h1>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Date:</strong>  {{event.date}}</li>
            <li class="list-group-item"><strong>Created by:</strong> {{ event.auther }} - {{ userGroups.0 }} Maneger</li>
            <li class="list-group-item"><strong>Confirmed attendees:</strong>
              <ul>{% for att in event.attendees.all%}
               <li>{{att}}</li>
              {% endfor %}
            </ul></li>
            <li class="list-group-item"><strong>Description:</strong> 
              {{event.discription}}</li>
          </ul>
        </div>
       
         
      </div>
      {% endif %}
      {% endfor %}
  </div>
  </div>
 





<style>
  .container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

  }
   th{
    border: 2px solid black;
    font-size: 80%;
    padding: 0.5em;
    background-color: lightgray;
    
  }
  .month{
    border: 2px solid black;
    text-align: center;
    margin: auto;
    padding: 0.5em;
    font-size: 120% ;
    
  }
  td{
    border: 2px solid black;

  }
  

</style>
