{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <title>drafts GanMoodle</title>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'homepage' %}">GanMoodle</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'profile' %}">{{user.username|title}}</a>
        </li>
        <li class="nav-item">
        <a class="btn btn-outline-primary" href="{% url 'events_list' %}">Events</a>
      </li>
         {% if user.is_manager %}
      
      <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'event_new' %}">new</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'event_draft_list' %}">Drafts</a>
        </li>
      {% endif %}
      {% else %}
      <li><a href="{% url 'register' %}">Sign up </a></li>
      <li ><a  href="{% url 'login' %}">Sign in</a></li>
      {% endif %}

    </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  </nav>
<div class="container">
    {% if drafts %}
   {% for event in drafts %}
    <div class="event">
        <h1><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}}</a></h1>
        <p class="date">created: {{event.created_date|date:"D M Y H:m:s"}}</p>
        <!-- <p class="text">{{activity.text}}</p> -->
        
    </div>
    {% endfor %}
    {% else %}
    <div style="font-size:300%;">
    <strong> Drafts list is empty!</strong>
    </div>
    {% endif %}
</div>
<style>
  .container{
    width: 50%;
    text-align: center;
  }
  .activity{
    border: 2px solid black;
    width: 100%;
    margin: auto;
    padding: 1.5em;
    
  }
  .text{
    font-size:200%;
  }
  
</style>