{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <title> GanMoodle</title>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'homepage' %}">GanMoodle</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'profile' %}">{{user.username|title}}</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'events_list' %}">Events</a>
        </li>
        {% if user.is_manager %}
        
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'event_new' %}">new</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'event_draft_list' %}">Drafts</a>
        </li>
        {% endif %}
      {% else %}
      <li><a href="{% url 'register' %}">Sign up </a></li>
      <li ><a  href="{% url 'login' %}">Sign in</a></li>
      {% endif %}

    </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  </nav>

<div class="container">
{% if event.published_date %}
<div class="date eventdate">
    {{event.published_date}}
</div>
{% else %} <br>
<div class="publish">
<a class="btn btn-success btn-lg btn-block" href="{% url 'event_publish' pk=event.pk %}">Publish</a>
</div>
{% endif %}

{% if user in event.attendees.all %}
  <strong>you are attending this event!</strong> <a href={% url 'event_attend_remove' pk=event.pk %}>Cancel attendence</a> 
{% else %}
  <div class="attend">
      <a class="btn btn-success btn-lg btn-block" href="{% url 'event_attend' pk=event.pk  %}">attend</a>
  </div>
{% endif %}


{% if user.is_authenticated and user.is_manager %}
<div class="edit-remove">
<a href="{% url 'event_edit' pk=event.pk %}" class="btn btn-info btn-lg btn-block">edit</a>
<a href="{% url 'event_delete' pk=event.pk %}" class="btn btn-danger btn-lg btn-block">remove</a>
</div>
{% endif %}
<h1 class="event-title loader">{{event.name}}</h1>

<ul class='details'>
  <li><strong>Date:</strong>  {{event.date}}</li>
  <li><strong>Confirmed attendees:</strong>
    <ul>{% for att in event.attendees.all%}
     <li>{{att}}</li>
    {% endfor %}
  </ul>
  </li>
  <li> <strong>Description:</strong> 
    {{event.discription}}</li>

 </ul>


</div>


</div>

<style>
  .container{
    border: 2px solid black;
  }
  .event-title{
    text-align: center;
  }
  .activitydate{
    text-align: center;
  }
  .edit-remove{
    text-align: center;
  }
  .publish{
    text-align: center;
  }
  .details{
    font-size: 200%;
  }
</style>